@import "fontawesome.min.css";
@import "solid.min.css";

:root{
	--azul: #1758D6;
	--azul-oscuro: #003580;
	--background: #f0f2f5;
	--background-header: #015bbf;
	--background-aside: url(../img/background.png);
	--background-right-aside: #f0f2f5;
	--background-footer: #555;
	--background-scroll: #555;
	--background-scroll-active: #d4d4d4;
	--background-box: #fff;
	--background-btn: #015bbf;
	--color-gray: #49454567;
	--scroll-active: #999999;
	--texto-primary: #000;
	--texto-secundary: #fff;
	--sombra: 10px 10px 20px rgba(0,0,0,.16);	
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	font-family: sans-serif;
	transition: .3s ease all;
	color: var(--texto-primary);
	background: var(--background);  
}


footer
{
	height: 3em;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--texto-secundary);
	background: var(--background-footer);
}

.dark{
	--azul: #f6f6f6;
	--azul-oscuro: #6d6d6d;
	--background: #131c21;
	--background-header: #2a2f32;
	--background-aside: #2a2f32;
	--background-right-aside: #2a2f32;
	--background-footer: #2a2f32;
	--background-scroll: #555;
	--background-scroll-active: #d4d4d4;
	--background-box: #3e4042;
	--background-btn: #6d6d6d;
	--color-gray: #f6f6f6;
	--scroll-active: #999999;
	--texto-primary: #f6f6f6;
	--texto-secundary: #f6f6f6;
	--sombra: 10px 10px 20px rgba(0,0,0,.16);
}



/* Scroll */
	body::-webkit-scrollbar {
  		width: 8px;
	}
 
	body::-webkit-scrollbar-thumb {
	  background: gray;
	  border-radius: 30px;
	}

	body::-webkit-scrollbar-thumb:active {
	  background-color: var(--scroll-active);
	}

	body::-webkit-scrollbar-thumb:hover {
	  background: var(--background-scroll);
	  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	}

 
	body::-webkit-scrollbar-track {
	  background: none;
	  border-radius: 4px;
	}

	body::-webkit-scrollbar-track:hover, 
	body::-webkit-scrollbar-track:active {
  		background: var(--background-scroll-active);
	}
/* End Scroll */




/** Login **/
	.main-login
	{
		width: 100%;
		display: flex;
		margin-bottom: 0;
		min-height: 100vh;
		align-items: center;
		justify-content: center;
		background: var(--background);	
	}

	.box-login
	{
		width: 90vw;
		height: 100%;
		display: flex;
		background: #fff;
		margin-bottom: 0;
		border-radius: 0px;
		flex-direction: column;
		box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.25);
	}

	.main-logo
	{
		display: flex;
		margin-top: 5vw;
		margin-bottom: 5vw;
		justify-content: center;
	}

	.main-logo img
	{
		width: 20vh;
		height: 25vw;
	}

	.box-login .box-image
	{
		background: url(../img/background.png);
	}

	.box-image .box-name
	{
		display: flex;
		margin-top: 10px;
		margin-bottom: 10px;
		align-items: center;
		flex-direction: column;
	}

	.box-name h2
	{
		font-size: 16px;
		color: var(--texto-secundary);
	}

	.box-login .login-formulario
	{
		width: 100%;
		height: 50%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	.login-formulario span
	{
		font-size: 17px;
		margin-top: 30px;
		margin-bottom: 10px;
		color: var(--texto-primary);
	}

	.login-formulario input
	{
		width: 80%;
		padding: 8px;
		font-size: 13px;
		background: none;
		margin-bottom: 20px;
		color: var(--texto-primary);
		border: 1px solid var(--color-gray);
	}

	.login-formulario button
	{
		width: 80%;
		border: none;
		padding: 9px;
		cursor: pointer;
		font-size: 13px;
		margin-bottom: 30px;
		color: var(--texto-secundary);
		background: var(--background-btn);
	}

	.login-formulario button:hover
	{
		background: var(--azul-oscuro);
	}
/** End Login **/




/*-> Dark mode <-*/
	.switch
	{
		border: none;
		outline: none;
		display: flex;
		cursor: pointer;
		position: relative;
		background: #343D5B;
		border-radius: 1000px;
	}

	.switch::after
	{
		top: 0;
		left: 0;
		content: "";
		right: unset;
		width: 30px;
		height: 30px;
		display: block;
		position: absolute;
		background: #F1F1F1;
		border-radius: 100px;
		transition: .3s ease all;
		box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
	}

	.switch.active
	{
		background: gray;
		color: #000;
	}

	.active::after
	{
		right: 0;
		left: unset;
	}

	.switch span i
	{
		color: #fff;
		width: 30px;
		height: 30px;
		display: block;
		background: none;
		line-height: 30px;
	}
/*-> End Dark mode <-*/




/*** Header ***/
	.header
	{
		width: 100%;
		height: 4em;
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		background: var(--background-header);
		box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.25);
	}

	.toggle-menu
	{
		width: 2em;
		height: 1.5em;
		cursor: pointer;
		position: absolute;
		left: 1em;
		background: linear-gradient(#fff 20%, transparent 20%, transparent 40%, #fff 40%, #fff 60%, transparent 60%, transparent 80%, #fff 80%);
	}

	#logo
	{
		width: 40px;
		height: 40px;
	}

	.header .data
	{
		display: none;
	}

	.tools
	{
		display: none;
		width: 250px;
		height: 30px;
	}

	.tools > .categories
	{
		width: 50px;
		height: 100%;
		text-decoration: none;
	}

	.tools > .search
	{
		width: 200px;
		height: 100%;
		text-decoration: none;
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.categories > .fa
	{
		width: 100%;
		height: 100%;
		font-size: 27px;
		color: var(--texto-primary);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.search > input
	{
		width: 150px;
		height: 100%;
		margin: 0px;
		border: 1px solid var(--texto-primary);
		border-right: 0px;
		outline: none;
		border-radius: 0px;
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
	}

	.search > .fa
	{
		width: 50px;
		height: 100%;
		border: 1px solid var(--texto-primary);
		border-left: 0px;
		padding: 3px;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--texto-primary);
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		cursor: pointer;
	}
/*** End Header ***/




/**** Aside ****/
	.menu
	{
	    top: 0;
	    left: 0;
	    z-index: 1;
	    width: 90%;
	    display: flex;
	    height: 100vh;
	    position: fixed;
	    max-width: 250px;	
	    flex-direction: column;
	    transform: translate(-100%);
	    transition: transform 0.25s;
	    justify-content: space-between;
	    background: var(--background-aside);
		box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
	}    

	.menu.active
	{
	    transform: translate(0);
	}

	.menu-center
	{
		height: 60%;
		width: 100%;
	} 

	.menu-center nav
	{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.menu-center ul
	{
		width: 60%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;	
	
	}

	.menu li
	{
		list-style: none;
		padding: 4% 0% 6% 7%;
		color: var(--texto-secundary);
	}

	.menu li:active
	{
		background: var(--azul-oscuro);
	} 

	.menu li a
	{
		font-size: 13px;
		text-decoration: none;
		color: var(--texto-secundary);
	}

	.menu .data
	{
		width: 100%;
		height: 28%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		background: var(--background-box);
	}

	.main-name
	{
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.main-name a
	{
		font-size: 12px;
		margin-top: 2px;
		padding: 1px 2px;
		border-radius: 3px;
		text-decoration: none;
		border: 1px solid var(--texto-primary);
		color: var(--texto-primary);
	}

	.main-name a:active
	{
		color: var(--texto-secundary);
		background: var(--background-header);
	}

	.data img
	{
		width: 70px;
		height: 70px;
		clip-path: circle(50% at 50% 50%);
	}

	.data h3
	{
		font-size: 15px;
	}

	.logo
	{
		display: none;
	}

	i{
		font-size: 22px;
	}

	.hidde
	{
		margin-left: 3px;
	}

	.btn-salir
	{
		width: 100%;
		height: 12%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.btn-salir a
	{
		font-size: 14px; 
		text-decoration: none;
		color: var(--texto-secundary);
	}

	.btn-salir:active
	{
		background: var(--azul-oscuro);
	}
/**** End aside ****/




/***** Right aside *****/
	.right-aside
	{
		top: 0;	
		right: 0;
		width: 90%;
		z-index: 1;
		display: flex;
		height: 100vh;
		position: fixed;
		max-width: 250px;
		flex-direction: column;
		transform: translate(100%);
	  transition: transform 0.25s;
		background: var(--background-right-aside);
		box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
	}
	 
	.right-aside.active
	{
	  transform: translate(0);
	}

	.data
	{
		display: none;
	}

	.name-calendary
	{
		width: 40%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	.calendary
	{
		width: 100%;
		height: 35%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-evenly;
	}

	.calendario
	{
		width: 85%;
		height: 70%;
		background: gray;
	}

	.right-icon
	{
		font-size: 16px;
		color: var(--texto-primary);
	}

	.right-icon:hover
	{
		color: var(--texto-primary);
	}

	.name-report
	{
		width: 40%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	.report
	{
		height: 55%;
		width: 100%;
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	.reportes{
		width: 100%;
		height: 80%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
	}

	.report a
	{
		width: 80%;
		padding: 4% 5%;
		font-size: 12px;
		border-radius: 3px;
		text-align: center;
		text-decoration: none;	
		background: var(--background-btn);
		color: var(--texto-secundary);
	}

	.report a:active
	{
		background: var(--azul-oscuro);
	}

	.note
	{
		font-size: 12px;
		text-align: center;
	}

	.mod{
		width: 67%;
		height: 10%;
		display: flex;
		margin-left: 5%;
		align-items: center;
		justify-content: center;
	}

	#message{
		text-indent: 9px;
		font-size: 13px;
	}

	.icon-right
	{
		color: var(--texto-primary);
		opacity: 0.8;
	}

	.icon-right:hover
	{
		color: var(--texto-primary);
	}	
/***** End Right *****/




/****** Main ******/
	main
	{
		width: 90%;
		margin-top: 7%;
		margin-left: 5%;
	}

	main h1
	{	
		font-size: 20px;
		text-indent: 3px;
		margin-bottom: 5%;
	}

	main h2
	{
		font-size: 15px;
		text-indent: 3px;
		margin-bottom: 5%;
	}

	section
	{
		width: 100%;
		height: auto;
		border-radius: 3px;
		margin-bottom: 40px;
		background: var(--background-box);
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
	}

	section article
	{
		padding: 4% 7%;
	}

	article p
	{
		font-size: 15px;
		margin-bottom: 2%;
		text-indent: 30px;
		text-align: justify;
	}

	article > .container
	{
		width: 100%;
		height: 300px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.container > .table
	{
		width: 100%;
		height: 100%;
		border: 1px solid var(--texto-primary);
	}
	.table > .row
	{
		width: 100%;
		height: 30px;
		display: grid;
		grid-template-columns: repeat(6, 16.6%);
		grid-template-rows: auto;
		justify-items: center;
		align-content: center;
		border-bottom: 1px solid var(--texto-primary);
	}

	.row > span
	{	
		width: 100%;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-right: 1px solid var(--texto-primary);
	}

	.row > .actions
	{
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: repeat(3, 33%);
		grid-template-rows: auto;
		justify-items: center;
		align-content: center;
	}

	.actions > a 
	{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		text-decoration: none;
	}

	.actions > a > .fa
	{
		display: flex;
		font-size: 17px;
		color: var(--texto-primary);
	}

	.row > span:last-child
	{
		border-right: 0px;
	}

	.container > .foto
	{
		width: 28%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 7px;
		box-sizing: border-box;
		
	}

	.foto > img
	{
		border-radius: 7px;
		width: 100%;
		height: 70%;
	}

	.container > .detalles
	{
		width: 70%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 20px;
		box-sizing: border-box;
		position: relative;
	}

	.detalles > span
	{
		line-height: 25px;
	}

	.detalles > a
	{	
		position: absolute;
		top: 7px;
		right: 7px;
	}

	.center-column
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.center-column > input
	{
		width: 300px;
		margin: 0px;
		margin-bottom: 7px;
	}

	.center-column > .submit
	{
		text-indent: 0px;
		width: 100px;
		height: 30px;
		background-color: var(--azul);
		color: white;
	}

	.detalles > a > i
	{
		color: var(--texto-primary);
		font-size: 17px;
	}

	section label
	{
		font-size: 12px;
	}

	form .btn-center
	{
		display: flex;
		justify-content: space-evenly;
	}

	form .btn-center .btn
	{
		cursor: pointer;
		font-size: 13px;
		border-radius: 2px;
		padding: 6px 11px 6px 0px;
		border: 1px solid var(--color-gray);
		color: var(--texto-primary);
	}

	form .btn:hover
	{
		color: var(--texto-secundary);
		background: var(--background-btn);
	}

	form .btn:active{
		background: var(--azul-oscuro);
	}

	input
	{
		margin-top: 8px;
		font-size: 13px;
		background: none;
		text-indent: 12px;
		border-radius: 2px;
		margin-bottom: 13px;
		padding: 6px 6px 6px 0px;
		border: 1px solid var(--color-gray);
		color: var(--texto-primary);
	}

	.fa-plus
	{
		display: none;
	}
/****** End Main ******/




/****** Dependencias ******/
	#codigo
	{
		width: 45%;
	}

	#clasificacion
	{
		width: 100%;
		margin-top: 8px;
		font-size: 12px;
		text-indent: 2px;
		background: none;
		border-radius: 2px;
		margin-bottom: 10px;
		padding: 6px 6px 6px 4px;
		border: 1px solid var(--color-gray);
		color: var(--texto-primary);
	}

	#cedula
	{
		width: 100%;
		text-indent: 12px;
	}

	#cargo
	{
		width: 100%;
	}

	#dependencia
	{
		width: 100%;
	}

	#encargado
	{
		width: 100%;
	}

	#observacion
	{
		width: 100%;
		height: 60px;
		resize: none;
		margin-top: 8px;
		font-size: 13px;
		text-indent: 7px;
		background: none;
		padding-top: 5px;
		border-radius: 2px;
		margin-bottom: 10px;
		border: 1px solid var(--color-gray);
		color: var(--texto-primary);
	}

	#tomafisica
	{
		width: 100%;
	}

	#edicion
	{
		width: 100%;
	}

	#documentacion
	{
		width: 100%;
	}

	#chequeo
	{
		width: 58%;
		text-indent: 15px;
		font-size: 10px;
	}
/****** End Dependencias ******/




/******* Ficha *******/
	.nat
	{
		display: none;
	}

	.navigation
	{
		width: 100%;
		height: 40px;
		display: flex;
		align-items: center;
		border-bottom: 2px solid #015bbf;
	}

	.links
	{
		width: 94%;
		height: 100%;
		display: flex;
	}

	.links button
	{
		width: 50%;
		border: none;
		cursor: pointer;
		font-size: 13px;
		border-radius: 0;
	}

	.links .inicio{
		width: 100%;
		background: var(--background-header);
		color: var(--texto-secundary);
	}

	.links-active
	{
		color: var(--texto-secundary);
		background: var(--background-header);
	}

	#i{
		font-size: 11px;
	}

	#d{
		font-size: 11px;
	}

	#rs{
		font-size: 11px;
	}

	.more
	{
		width: 6%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--background-box);
		border-left: 1px solid var(--color-gray);
	}

	.more i
	{
		cursor: pointer;
		font-size: 18px;
		color: var(--azul);
	}

	.more i:hover
	{
		color: var(--azul);
	}

	#ficha-codigo
	{
		width: 60%;
	}

	#ficha-area
	{
		width: 100%;
	}

	#ficha-clasificacion
	{
		width: 100%;
	}

	#ficha-locacion
	{
		width: 100%;
	}

	#responsable
	{
		width: 100%;
	}

	#responsable-cargo
	{
		width: 100%;
	}

	#ficha-responsable
	{
		width: 100%;
	}

	#foto-responsable
	{
		width: 100%;
		height: 150px;
		display: flex;
		margin-top: 1%;
		margin-bottom: 1%;
		justify-content: space-around;
	}

	.foto-responsable
	{
		width: 47%;
		height: 100%;
		display: flex;
		color: var(--color-gray);
		align-items: center;
		justify-content: center;
		border: 2px solid var(--color-gray);
	}

	#desc-cantidad
	{
		width: 40%;
	}

	#desc-code
	{
		width: 100%;
	}

	#desc-codigo
	{
		width: 100%;
	}

	#desc-conservacion
	{
		width: 100%;
	}

	#desc-chequeo
	{
		font-size: 10px;
		width: 100%;
		text-indent: 30px;
	}

	#desc-name
	{
		width: 100%;
		height: 60px;
		resize: none;
		margin-top: 8px;
		font-size: 13px;
		background: none;
		text-indent: 7px;
		padding-top: 5px;
		margin-bottom: 13px;
		color: var(--texto-primary);
		border: 1px solid var(--color-gray);
	}

	#desc-valor
	{
		width: 60%;
		text-align: right;
		padding-right: 12px;
	}

	#desc-iva
	{
		width: 60%;
		text-align: right;
		padding-right: 12px;
	}

	#desc-total
	{
		width: 60%;
		text-align: right;
		padding-right: 12px;
	}

	.fecha-incorp
	{
		width: 100%;
	}

	#fecha-incorp
	{
		width: 95%;
		font-size: 10px;
	}

	#acta-incorp
	{
		width: 100%;
	}

	.acta-incorp
	{
		width: 80%;
	}

	#comprobante-incorp
	{
		width: 100%;
	}

	.entrega-incorp
	{
		width: 100%;
	}

	#entrega-incorp
	{
		width: 94%;
	}

	#movimiento-incorp
	{
		width: 100%;
	}

	.movimiento-incorp
	{
		width: 100%;
	}

	#prestamo-incorp
	{
		width: 100%;
	}

	#orden-incorp
	{
		width: 95%;
	}

	.orden-incorp
	{
		width: 100%;
	}

	#fecha-orden-incorp
	{
		width: 100%;
		font-size: 10px;
	}

	.fecha-orden-incorp
	{
		width: 70%;
	}

	#factura-incorp
	{
		width: 95%
	}

	.factura-incorp
	{
		width: 100%;
	}

	#fecha-factura-incorp
	{
		width: 100%;
		font-size: 10px;
	}

	.fecha-factura-incorp
	{
		width: 70%;
	}

	#pago-incorp
	{
		width: 100%;
		margin-top: 8px;
		font-size: 13px;
		background: none;
		text-indent: 2px;
		border-radius: 2px;
		margin-bottom: 13px;
		padding: 6px 6px 6px 0px;
		border: 1px solid var(--color-gray);
		color: var(--texto-primary);
	}

	.pago-incorp
	{
		width: 41%;
	}

	#proveedor-incorp
	{
		width: 100%;
	}

	.proveedor-incorp
	{
		width: 57%;
	}

	#name-type
	{
		width: 100%;
	}

	#name-cate
	{
		width: 100%;
	}

	#cate-incorp
	{
		width: 100%;
		margin-top: 8px;
		font-size: 13px;
		background: none;
		text-indent: 7px;
		border-radius: 2px;
		margin-bottom: 13px;
		padding: 6px 6px 6px 0px;
		border: 1px solid var(--color-gray);
		color: var(--texto-primary);
	}

	#tipo-incorp
	{
		width: 100%;
	}

	#desc-conserv
	{
		width: 100%;
	}

	#desc-cheq
	{
		font-size: 10px;
		width: 100%;
	}

	#desc-respons
	{
		width: 100%;
	}

	.centrado
	{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.act-img-foto
	{
		width: 100%;
		height: 200px;
		color: var(--color-gray);
		display: flex;
		margin-top: 7%;
		align-items: center;
		border: 2px solid var(--color-gray);
		justify-content: center;
	}
/******* End Ficha *******/




/******** Reasignaciones ********/
	table{
		width: 100%;
	}

	table, th, td{
		margin-top: 20px;
		border: 1px solid var(--texto-primary);
		border-collapse: collapse;
	}

	td, th{
		padding: 15px;
	}

	#id-carga
	{
		width: 100%;
	}

	#fecha-carga
	{
		width: 60%;
		
	}

	#id-dependencia
	{
		width: 100%;
	}

	#id-movimiento
	{
		width: 100%;
	}

	#id-descarga
	{
		width: 100%;
	}

	#id-movih
	{
		width: 100%;
	}

	#fecha-descrip
	{
		width: 100%;
	}

	#id-dependh
	{
		width: 100%;
	}
/******** End Reasignaciones ********/

/******** POP UPS *********/
.pop-up-categories
{
	width: 30vw;
	height: 250px;
	position: absolute;
	top: 100px;
	left: 35vw;
	background-color: white;
	display: none;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
}

.pop-up-categories > form
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pop-up-categories > form > input
{
	margin-top: 0px;
	margin-bottom: 7px;
}

.pop-up-categories > form > .btn-group
{
	width: 50%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0px;
	margin: 0px;
}

.pop-up-categories > form > .btn-group > .btn
{
	width: 100px;
	height: 30px;
	text-indent: 0px;
	margin: 0px;
	padding: 7px 7px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	font-family: sans-serif;
	color: white;
	cursor: pointer;
}

.pop-up-categories > form > .btn-group > .btn:first-child
{
	background-color: var(--azul);
}

.pop-up-categories > form > .btn-group > .btn:last-child
{
	background-color: tomato;
}

/******* POP UPS *******/


@media screen and (min-width: 768px){
/** Login **/
	.box-login
	{
		height: 55vw;
		width: 80vw;
		flex-direction: row;
		position: relative;
	}

	.box-image .main-logo
	{
		margin-top: 2vw;
		margin-left: 19vw;
		position: absolute;
	}

	.main-logo img
	{
		top: 10%;
		left: 29%;
		width: 15%;
		height: 20%;
		position: absolute;
	}

	.login-formulario{
		flex-direction: row;
	}

	.login-formulario input{
		width: 75%;
		text-indent: 7px;
		margin-bottom: 18px;
	}

	.login-formulario button{
		width: 75%;
		margin-bottom: 0px;
	}

	.box-login .box-image
	{
		width: 50%;
  		clip-path: polygon(30% 13%, 39% 40%, 64% 53%, 71% 81%, 100% 100%, 50% 100%, 23% 100%, 0 100%, 0% 35%, 0 0);
	}

	.box-login .box-image .box-name
	{
		margin-top: 38vw;
		margin-left: -11vw;
	}

	.box-login .login-formulario
	{
		width: 50%;
		height: 100%;
	}

	.box-login .login-formulario span
	{
		margin-top: 0px;
	}
/** End Login **/




/*** Header ***/
	.header
	{
		height: 5em;
		background: none;
		box-shadow: none;
		justify-content: left;
	}

	.toggle-menu
	{
		display: none;
	}

	#logo
	{
		display: none;
	}

	.tools
	{
		margin-left: 8%;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
/*** End Header ***/




/**** Aside ****/
	.menu
	{
		width: 6%;
		transform: translate(0%);
	}

	.menu .data
	{
		display: none;	
	}

	.menu-center
	{
		height: 70%;
	}

	.menu ul
	{ 	
		width: 75%;
	}

	.menu li
	{
		padding: 10%;
		text-align: center;
		border-radius: 5px;
	}

	.item-active
	{
		background: var(--azul-oscuro);
	}

	.i-active{
		color: var(--texto-secundary);
	}

	i{
		font-size: 26px;
		color: var(--azul-oscuro);
	}

	i:hover{
		color: var(--texto-secundary); 
	}

	.hidde
	{
		display: none;
	}

	.cont-logo
	{
		width: 100%;
		height: 10%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.logo
	{
		width: 35px;
		height: 35px;
		display: flex;
	}
/**** End aside ****/




/***** Right aside *****/
	.right-aside
	{	
		width: 25%;
		display: flex;
		max-width: none;
		background: none;
		flex-direction: column;
		transform: translate(0%);
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.25);
	}

	.right-aside .data
	{
		width: 90%;
		height: 13%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.text-header
	{
		margin-left: 6%;
		position: relative;
	}

	.right-aside .data img
	{
		width: 18%;
		height: 48%;
		clip-path: none;
		border-radius: 7px;
	}

	.right-aside .data h3
	{
		font-size: 14px;
	}

	.right-aside .data a
	{
		font-size: 13px;
		text-decoration: none;
		color: var(--texto-primary);
	}

	.calendary
	{
		width: 96%;
		height: 30%;
		border-radius: 3px;
		margin-bottom: 7%;
		background: var(--background-box);
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
	}

	.calendario
	{
		width: 90%;
		height: 75%;
		background: gray;
	}

	.report
	{
		width: 96%;
		height: 40%;
		margin-bottom: 12%;
		border-radius: 3px;
		background: var(--background-box);
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
	}

	.report a{
		width: 90%;
	}

	.report a:hover
	{
		background: #3b5998;
	}

	.report a:active
	{
		background: var(--azul-oscuro);
	}

	.mod-perfil
	{
		width: 100%;
	}

	.mod-perfil-a
	{
		display: flex;
		align-items: center;
		text-decoration: none;
		justify-content: space-evenly;
		color: var(--texto-primary);
	}

	.mod
	{
		width: 100%;
		display: flex;
		margin-left: 0;
		justify-content: space-evenly;
	}

	.mod-salir
	{
		width: 100%;
	}

	.mod-salir-a
	{
		display: flex;
		align-items: center;
		text-decoration: none;
		color: var(--texto-primary);
		justify-content: space-evenly;
	}

	#message
	{
		text-indent: 0px;
		font-size: 13px;
	}

	#pop-up-left
	{
		right: 0px;
		width: 55%;
		height: 160px;
		display: none;
		margin-top: 30%;	
		margin-right: 5%;
		position: absolute;
		border-radius: 4px;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
		background: var(--background-box);
		box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.25);
	}

	.fa-caret-down
	{
		font-size: 23px;
		cursor: pointer;
		margin-left: 5px;
		color: var(--texto-primary);
	}

	.fa-caret-down:hover
	{
		color: var(--texto-primary);
	}
/***** End Right *****/




/****** Main ******/
	main
	{
		width: 65%;
		margin-top: 1%;
		margin-left: 8%;
	} 

	section article
	{
		padding: 2% 4%;
	}
/****** End Main ******/




/******* Dependencias *******/
	#codigo
	{
		width: 100%;
	}

	.codigo
	{
		width: 20%;
	}

	.clasificacion
	{
		width: 77%;
	}

	#cedula
	{
		text-indent: 12px;
	}

	.cedula
	{
		width: 33%;
	}

	.cargo
	{
		width: 64%; 
	}

	.tomafisica
	{
		width: 43%;
	}

	.edicion
	{
		width: 54%;
	}

	.documentacion
	{
		width: 62%;
	}

	#chequeo
	{

		width: 100%;
		text-indent: 25px;
	}

	.chequeo
	{
		width: 35%;
	}

	.center
	{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
/****** End Dependencias ******/




/******** Ficha ********/
	.nat
	{
		display: inline;
	}

	#i{
		font-size: 13px;
	}

	#d{
		font-size: 13px;
	}

	#rs{
		font-size: 13px;
	}

	.ficha-codigo
	{
		width: 27%;
	}

	#ficha-codigo
	{
		width: 100%;
	}

	.ficha-area
	{
		width: 70%;
	}

	.ficha-clasificacion
	{
		width: 47%;
	}

	.ficha-locacion
	{
		width: 50%;
	}	

	.responsable
	{
		width: 50%;
	}

	#responsable-cargo
	{
		width: 100%;
	}

	.responsable-cargo
	{
		width: 47%;
		margin-top: 0px;
	}

	.ficha-responsable
	{
		width: 100%;
	}

	.foto-responsable
	{
		width: 25%;	
	}

	#desc-cantidad{
		width: 100%;
	}

	.desc-cantidad{
		width: 24%;
	}

	.desc-code{
		width: 35%;
	}

	.desc-codigo
	{
		width: 35%;
	}

	.desc-conservacion
	{
		width: 62%; 
	}

	.desc-chequeo{
		width: 35%;
	}

	.desc-name
	{
		width: 100%;
	}

	#desc-valor
	{
		width: 100%;
	}

	.desc-valor
	{
		width: 29%;
	}

	#desc-iva
	{
		width: 100%;
	}

	.desc-iva
	{
		width: 29%;
	}

	#desc-total
	{
		width: 100%;
	}

	.desc-total
	{
		width: 29%;
	}

	#act-foto
	{
		display: flex;
	}

	#act-text-foto
	{
		width: 50%;
	}

	#act-img-foto
	{
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.act-img-foto
	{
		width: 90%;
		height: 90%;
		margin-top: 0;
	}

	#desc-conserv
	{
		width: 90%;
	}

	#desc-cheq
	{
		width: 55%;
	}

	#desc-respons
	{
		width: 100%;
	}

	.desc-respons
	{
		width: 90%;
	}

	.center2{
		display: block;
	}


	#fecha-incorp
	{
		width: 100%;
	}

	.fecha-incorp
	{
		width: 38%;
	}

	#acta-incorp
	{
		width: 91%;
	}

	.acta-incorp
	{
		width: 57%;
	}

	#comprobante-incorp
	{
		width: 100%;
	}

	.comprobante-incorp
	{
		width: 60%;
	}

	#entrega-incorp
	{
		width: 100%;
	}

	.entrega-incorp
	{
		width: 32%;
	}

	#movimiento-incorp
	{
		width: 92%;
	}

	.movimiento-incorp
	{
		width: 63%;
	}

	#prestamo-incorp
	{
		width: 100%;
	}

	.prestamo-incorp
	{
		width: 60%;
	}

	#orden-incorp
	{
		width: 100%;
	}

	.orden-incorp
	{
		width: 40%;
	}

	#fecha-orden-incorp
	{
		width: 89%;
	}

	.fecha-orden-incorp
	{
		width: 54%;
	}

	#factura-incorp
	{
		width: 100%
	}

	.factura-incorp
	{
		width: 44%;
	}

	#fecha-factura-incorp
	{
		width: 100%;
	}

	.fecha-factura-incorp
	{
		width: 50%;
	}

	#pago-incorp
	{
		width: 100%;
		text-indent: 7px;
	}

	.pago-incorp
	{
		width: 25%;
	}

	.proveedor-incorp
	{
		width: 72%;
	}

	.name-cate
	{
		width: 100%;
	}

	#cate-incorp
	{
		width: 100%;
		font-size: 13px;
		padding: 6px 6px 6px 0px;
	}

	.cate-incorp
	{
		width: 30%;
	}

	.tipo-incorp
	{
		width: 25%;
	}

	.name-type
	{
		width: 39%;
	}
/******* End Ficha *******/





/******** Reasignaciones ********/
	.id-carga
	{
		width: 30%;
	}

	#fecha-carga
	{
		width: 100%;	
	}

	.fecha-carga
	{
		width: 30%;
	}

	.id-dependencia
	{
		width: 30%;
	}

	.id-movimiento
	{
		width: 30%;
	}

	.id-descarga
	{
		width: 30%;
	}

	.id-movih
	{
		width: 30%;
	}

	.fecha-descrip
	{
		width: 30%;
	}

	.id-dependh
	{
		width: 30%;
	}
/******** End Reasignaciones ********/


}


@media screen and (min-width: 1024px){

/** Login **/
	.box-login
	{
		height: 45vw;
		width: 70vw;
	}

	.box-login .box-image .box-name
	{
		margin-top: 31vw;
	}
/** End Login **/


}


@media screen and (min-width: 1200px){

/** Login **/
	.box-login
	{
		width: 63vw;
		height: 38vw;
	}

	.box-login .box-image .box-name
	{
		margin-top: 27vw;
	}

	.box-login .login-formulario span
	{
		font-size: 20px;
	}

	.box-login .box-image h2
	{
		font-size: 17px;
	}
/** End Login **/




/*** Header ***/
	.tools
	{
		margin-left: 17%;
	}

	.tools i
	{
		font-size: 24px;
	} 
/*** End Header ***/




/**** Aside ****/
	.menu{
		width: 14%;
	}

	.menu-center
	{
		height: 60%;
	}

	.menu ul
	{ 	
		width: 100%;
		display: flex;
	}

	.menu li
	{
		padding: 8%;
		display: flex;
		border-radius: 0;
	}

	.menu li:hover
	{
		background: var(--azul-oscuro);
		border-left: 3px solid var(--texto-secundary);
	}

	.item-active
	{
		background: var(--azul-oscuro);
		border-left: 3px solid var(--texto-secundary);
	}

	i{
		color: var(--texto-secundary);
	}

	.hidde
	{
		font-size: 13px;
		margin-left: 10px;
		display: inline-flex;
	}

	.cont-logo
	{
		height: 15%;
		display: block;
	}

	.logo
	{
		width: 100%;
		height: 100%;
	}

	.btn-salir
	{
		height: 12%;
	}
/**** End aside ****/




/***** Right aside*****/
	.right-aside{
		width: 20%;
	}
/***** End Right *****/




/****** Main ******/
	main
	{
		width: 62%;
		margin-left: 16%;
	} 

	main h2
	{
		font-size: 16px;
	}

	section label
	{
		font-size: 13px;
	}

	form .btn-center .btn
	{
		padding: 8px 11px 8px 0px;
	}

	input
	{
		text-indent: 15px;
		margin-bottom: 17px;
		padding: 6px 5px 6px 0px;
	}
/****** End Main ******/

}

